.player-pane {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  background-color: #222222;
  border-bottom: 1px solid #202020;
}

.player-pane__controls {
  display: grid;
  grid-template-rows: [playback-controls] auto;
  max-width: 800px;
}

.player-pane__playback-buttons {
  grid-row-start: playback-controls;
  grid-row-end: playback-controls;
  display: flex;
}
