.player-pane {
  display: flex;
  position: relative;
  justify-content: flex-start;
  gap: 16px;
  align-items: flex-start;
  padding: 4px 8px 0 75px;
  background-color: #202020;
  box-shadow: 0 0 13px #202026;
  z-index: 1;
  -webkit-user-select: none;
}

.player-pane__controls {
  justify-self: flex-start;
  display: grid;
  grid-template-rows: [playback-controls] auto [seek-bar];
  max-width: 800px;
}

.player-pane__playback-buttons {
  grid-row-start: playback-controls;
  grid-row-end: playback-controls;
  display: flex;
  gap: 2px;
}
