.player-pane {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  background-color: #202020;
  box-shadow: 0 0 13px #202026;
  z-index: 1;
  -webkit-user-select: none;
}

.player-pane__controls {
  display: grid;
  grid-template-rows: [playback-controls] auto [seek-bar];
  max-width: 800px;
}

.player-pane__playback-buttons {
  grid-row-start: playback-controls;
  grid-row-end: playback-controls;
  display: flex;
}
