.seek-bar {
  position: relative;
  margin: 6px 0;
  display: flex;
}

.seek-bar--can-seek {
  cursor: pointer;
}

.seek-bar__progress {
  -webkit-appearance: none;
  appearance: none;
  grid-row-start: seek-bar;
  grid-row-end: seek-bar;
  width: 100%;
  background: transparent;
  padding: 2px;
}

.seek-bar__progress::-webkit-progress-bar {
  height: 5px;
  background-color: var(--main-bg);
  border-radius: 2.5px;
}

.seek-bar__progress::-webkit-progress-value {
  background-color: var(--chrome-fg);
  border-radius: 2.5px;
}

.seek-bar__thumb {
  opacity: 1;
  transition: opacity var(--medium-animation-duration) var(--default-ease);
  /* To avoid triggering mouse event on .seek-bar */
  pointer-events: none;
  position: absolute;
  left: -3px;
  width: 5px;
  height: 15px;
  background: var(--chrome-fg);
  border-radius: 3px;
  top: -2.5px;
  box-shadow: 0.5px 0.5px 2px #707072;
}

.seek-bar:not(.seek-bar--can-seek:hover) .seek-bar__thumb {
  opacity: 0;
}

.seek-bar__seek-time {
  pointer-events: none;
  opacity: 1;
  transition: opacity var(--medium-animation-duration) var(--default-ease);
  padding: 3px;
  box-shadow: 0.5px 0.5px 2px #202026;
  border-radius: 2px;
  background: #dededf;
  font-weight: 600;
  foreground: var(--secondary-bg);
  color: #202020;
  font-size: 12px;
  position: absolute;
  min-width: 32px;
  display: flex;
  justify-content: center;
  top: 24px;
  transform: translateX(-50%);
}

.seek-bar:not(.seek-bar--can-seek:hover) .seek-bar__seek-time {
  opacity: 0;
}

.seek-bar__duration-text,
.seek-bar__progress-text {
  pointer-events: none;
  font-size: 12px;
  top: -1px;
  position: absolute;
  display: flex;
}

.seek-bar__duration-text {
  padding-left: 8px;
  left: 100%;
}

.seek-bar__progress-text {
  padding-right: 8px;
  right: 100%;
}

.seek-bar__quasi-mono-char {
  width: 1.25ex;
  display: flex;
  justify-content: center;
}

.seek-bar__quasi-mono-char--is-punctuation {
  width: auto;
}
