.seek-bar {
  position: relative;
  padding: 6px 0;
}

.seek-bar--can-seek {
  cursor: pointer;
}

.seek-bar__progress {
  -webkit-appearance: none;
  appearance: none;
  grid-row-start: seek-bar;
  grid-row-end: seek-bar;
  width: 100%;
  background: transparent;
  padding: 2px;
}

.seek-bar__progress::-webkit-progress-bar {
  height: 5px;
  background-color: var(--main-bg);
  border-radius: 2.5px;
}

.seek-bar__progress::-webkit-progress-value {
  background-color: var(--duller-fg);
  border-radius: 2.5px;
}

.seek-bar__thumb {
  opacity: 1;
  transition: opacity var(--medium-animation-duration) var(--default-ease);
  /* To avoid triggering mouse event on .seek-bar */
  pointer-events: none;
  position: absolute;
  left: -3px;
  width: 5px;
  height: 15px;
  background: var(--duller-fg);
  border-radius: 3px;
  top: 4.5px;
  box-shadow: 0.5px 0.5px 2px #707072;
}

.seek-bar:not(.seek-bar--can-seek:hover) .seek-bar__thumb {
  opacity: 0;
}

.seek-bar__seek-time {
  pointer-events: none;
  opacity: 1;
  transition: opacity var(--medium-animation-duration) var(--default-ease);
  padding: 4px;
  box-shadow: 0.5px 0.5px 2px #202026;
  border-radius: 3px;
  background: #dededf;
  font-weight: 500;
  foreground: var(--secondary-bg);
  color: #202020;
  font-size: 12px;
  position: absolute;
  width: 35px;
  display: flex;
  justify-content: center;
  top: 22px;
  transform: translateX(-50%);
}

.seek-bar:not(.seek-bar--can-seek:hover) .seek-bar__seek-time {
  opacity: 0;
}
