.seek-bar {
  position: relative;
  padding: 8px 0;
}

.seek-bar--can-seek {
  cursor: pointer;
}

.seek-bar__progress {
  -webkit-appearance: none;
  grid-row-start: seek-bar;
  grid-row-end: seek-bar;
  width: 100%;
  background: transparent;
  padding: 2px;
}

.seek-bar__progress::-webkit-progress-bar {
  height: 5px;
  background-color: var(--main-bg);
  border-radius: 2.5px;
}

.seek-bar__progress::-webkit-progress-value {
  background-color: var(--duller-fg);
  border-radius: 2.5px;
}

.seek-bar__thumb {
  /* To avoid triggering mouse event on .seek-bar */
  pointer-events: none;
  opacity: 0;
  position: absolute;
  left: -2.5px;
  width: 5px;
  height: 15px;
  background: var(--duller-fg);
  border-radius: 3px;
  top: 5.5px;
}
