.row-list-item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  height: 26px;
  font-size: 12px;
  align-items: center;
  padding-left: 4px;
  cursor: default;
  transition: background-color var(--medium-animation-duration) ease;
}

.row-list-item:hover {
  background-color: var(--hover-bg);
}

.row-list-item__first-col {
  display: flex;
  align-items: center;
}

.row-list-item__name {
  display: flex;
  align-items: center;
  margin-left: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
}

.row-list-item__name--no-left-indicator {
  margin-left: 22px;
}

.row-list-item__name-input {
  width: 70vw;
}
