:root {
  --main-fg: #f6f6f6;
  --main-bg: #2f2f2f;
  --hover-bg: rgba(255, 255, 255, 0.065);
  --secondary-fg: #98989d;
  --accent-fg: #7fcead;
  --chrome-fg: #d0d0d3;
  --chrome-selected-fg: #409ab0;
  --short-animation-duration: 100ms;
  --medium-animation-duration: 175ms;
  --default-ease: ease;
}
