:root {
  --main-fg: #0f0f0f;
  --main-bg: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-fg: #f6f6f6;
    --main-bg: #2f2f2f;
    --hover-bg: #383838;
    --secondary-fg: #98989d;
    --accent-fg: #7fce95;
    --icon-button-fg: #d0d0d3;
  }
}
