.playback-button {
  /* Reset */
  appearance: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  font: inherit;

  width: 32px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 4px;
  color: var(--duller-fg);
}

.playback-button + .playback-button {
  margin-left: 2px;
}

.playback-button:not(:disabled) {
  cursor: pointer;
}

.playback-button:hover:not(:disabled) {
  background-color: var(--hover-bg);
}

.playback-button:disabled {
  opacity: 0.55;
}
