.volume-slider {
  -webkit-appearance: none;
  margin-left: 16px;
  background: transparent;
  cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 15px;
  background: var(--duller-fg);
  border-radius: 3px;
  margin-top: -4.5px;
  box-shadow: 0.5px 0.5px 2px #707072;
}

.volume-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius: 2.5px;
  height: 5px;
  background-color: #2a604b;
}
