.volume-slider {
  -webkit-appearance: none;
  margin-left: 16px;
  background: transparent;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: var(--duller-fg);
  border-radius: 50%;
  margin-top: -5px;
}

.volume-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
  background-color: #0d0d0d;
}
