.expand-button {
  width: 20px;
  height: 20px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: none;
  background: none;
  color: var(--secondary-fg);
  font-size: 14px;
}
