.stream-metadata {
  min-width: 0;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  /* transition: opacity var(--short-animation-duration) var(--default-ease); */
  display: flex;
  color: var(--main-fg);
  padding-top: 3px;
  z-index: 5;
  overflow: hidden;
  font-size: 13px;
  line-height: 24px;
}

.stream-metadata--has-metadata {
  opacity: 1;
}

.stream-metadata__image,
.stream-metadata__image-placeholder {
  border-radius: 1px;
  width: 44px;
  min-width: 44px;
  height: 44px;
  margin-top: 2px;
  margin-right: 12px;
  background: #2a604b;
  box-shadow: 0.5px 0.5px 2px #303038;
}

.stream-metadata__second-column {
  min-width: 0;
  display: flex;
  flex-flow: column;
}

.stream-metadata__title,
.stream-metadata__artist {
  user-select: none;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0.5px 0.5px 2px #303038;
}

.stream-metadata__artist {
  color: var(--duller-fg);
}
